@if (!RendererInfo.IsInteractive) {
    <div class="@ClassName flex justify-center relative">
        <div class="z-10 opacity-1/10">@ButtonContent</div>
        <div class="absolute w-full h-full skeleton"></div>
    </div>
} else {
    <button class="@ClassName indicator"
            disabled="@(Disabled || CommandState.IsPending)"
            @onclick="@(async (e) => await InvokeCommandAsync())">
        <div class="flex w-full">
            @ButtonContent
        </div>
            @if(CommandState.IsPending) {
                <div class="indicator-item">
                    <div class="loading loading-ring loading-xl"></div>
                </div>
            }
    </button>
}