<div class="flex flex-col w-full gap-2">
    <div class="flex w-full justify-between">
        <div class="flex flex-1 w-full flex-col justify-end">
            <div class="skeleton w-1/2 h-[1.5rem]"></div>
        </div>
        <div class="flex-1 w-full h-[2rem]"></div>
        <div class="flex-1 w-full h-[2rem]"></div>
        <div class="skeleton flex-1 w-full h-[2rem]"></div>
    </div>
    <div class="skeleton w-full h-[4rem]"></div>
    <div class="skeleton w-full h-[4rem]"></div>
    <div class="skeleton w-full h-[4rem]"></div>
</div>