<tr>
    <td>
        <div class="flex-1">
            <h4>@Title</h4>
            <p class="text-xs text-nowrap text-base-content/50">
                @SubTitle
            </p>
        </div>
    </td>
    <td>
        <div class="badge badge-@(Status.IsOnline ? "success" : "error")">
            @Status.ToString()
        </div>
    </td>
    <td>
        <div class="text-nowrap">
            @LastData
        </div>
    </td>
    <td>@LastUpdated</td>
    <td>
        @Actions
    </td>
</tr>