<div class="tooltip" data-tip="@(IsOnline ? "take offline" : "bring online")">
    <button 
        class="group btn btn-square btn-soft @(IsOnline ? "hover:bg-red-400/20" : "hover:bg-green-400/20") @(IsOnline ? "hover:border-red-400" : "hover:border-green-400") @(IsOnline ? "hover:text-red-400" : "hover:text-green-400")"
        @onclick="OnClick"
    >
        <span class="group-hover:hidden">
            @if (IsOnline) {
                <WifiOnIcon /> 
            } else {
                <WifiOffIcon />
            }
        </span>
        <span class="hidden group-hover:inline">
            @if (IsOnline) {
                <WifiOffIcon />
            } else {
                <WifiOnIcon /> 
            }
        </span>
    </button>
</div>