<div class="stat">
    <div class="stat-figure">
        <div class="stat-title">Total Machines Online</div>
        <div class="stat-value">Metric</div>
        <div class="stat-desc">21% more than last month</div>
    </div>
</div>