<div class="p-2">
    <h3 class="text-lg">Stats</h3>
</div>
<div class="grid grid-cols-1">
    <div class="stats shadow">
        <div class="stat">
            <div class="stat-title">Total Machines Count</div>
            <div class="stat-value">@Machines.Count</div>
            <div class="stat-desc">21% more than last month</div>
        </div>
    </div>
</div>